@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: #E6D5B8 #E45826;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #E6D5B8;
}

*::-webkit-scrollbar-thumb {
    background-color: #E45826;
    border: 3px solid #E6D5B8;
}

html {
    scroll-behavior: smooth;
}

.text-shine {
    font-size: 18px;
    font-weight: 800;
    background: linear-gradient(to right,
            #E6D5B8 20%,
            #E45826 30%,
            #F0A500 70%,
            #E45826 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.fancy-button {
    display: block;
    cursor: pointer;
    color: #E6D5B8;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
    margin-top: 50px !important;
}

.fancy-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg, #E45826, #F0A500, #E6D5B8, #E45826, #E45826);
    background-size: 25% 100%;
    animation: button-anim-1 .75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.25s ease-out;
}

.fancy-button:hover::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
}

.m-nav {
    @apply z-10 fixed w-full h-screen flex flex-col justify-center left-[1024px] items-center md:hidden bg-quaternary;
}

.toggle-nav {
    animation: toggleNav 300ms normal forwards;
}

#m-nav-btn {
    position: relative;
}
#m-nav-btn.toggle div:first-child {
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
}

#m-nav-btn.toggle div:nth-child(2) {
    position: absolute;
    left: 1024px;
}

#m-nav-btn.toggle div:last-child {
    transform: rotate(45deg);
}

@keyframes toggleNav {
    from {
        left: 1024px;
    }
    to {
        left: 0;
        @apply bg-primary;
    }
}

@keyframes button-anim-1 {
    to {
        transform: translateX(-25%);
    }
}

.fancy-button span {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-size: 12px;
    background: #1B1A17;
    border-radius: 3px;
    height: 100%;
}

@media (min-width: 768px) {
    .text-shine {
        font-size: 26px;
    }

    .fancy-button span {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .text-shine {
        font-size: 36px;
    }
}